@import "tailwindcss";

@theme {
  --font-alice: "Alice", serif;
  --font-inter: "Inter", sans-serif;
  --color-neon-pink: #ff2d95;
  --color-neon-purple: #b44dff;
  --color-neon-glow: rgba(180, 77, 255, 0.4);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  background-color: #ffffff;
  color: #1a1a2e;
}
